<html>
        <head>
                <title>Django Application</title>
                <style>
                           li {
                                    list-style-type: none; 
                           }
                           ul {
                                    margin-left: 0;
                                   padding-left: 0;
                          }
                  </style>
        </head>
        <body>
                <h1>Authors_List</h1>
                <ul>
                        {% for item in authors %}
                                <li><a href="{{ item.get_absolute_url }}">{{item}}</a></li>
                        {% endfor %}
                </ul>
        </body>
</html>